<h3><a href="/extract/nonsyn">Extract all genotypes for all non-synonymous mutations</a>
	<a href="/extract/nonsyn?csv">Download</a>
</h3>

<h3><a href="/extract/range">Extract all genotypes for all dogs from chr1:13000000- 133000000</a> </h3>
<h3>extract all herterozyous genotypes for RM112 between chr6: 14500-145600</h3Extract all genotypes for all non-synonymous mutations
Extract all genotypes for all dogs from chr1:13000000- 133000000
extract all herterozyous genotypes for RM112 between chr6: 14500-145600q>
